button {
  padding: 13px 24px;
  color: var(--primary-color);
  background: var(--bg-color);
  font-size: var(--defaut-text);
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.45s ease;
}

button a {
  color: black;
}

button:hover {
  transform: translateX(-5px);
}
