<section class="about">
  <h2>About us</h2>
  <p>Order now and appreciate the beauty of nature</p>

  <div class="about-box">
    <div class="box w-96">
      <div class="box-img"><img src="/tree.svg" alt="" /></div>
      <div>
        <h3>Large Assortment</h3>
        <p>
          we offer many different types of products with fewer variations in
          each category.
        </p>
      </div>
    </div>
    <div class="box w-96">
      <div class="box-img"><img src="/git-box.svg" alt="" /></div>
      <div>
        <h3>Fast & Free Shipping</h3>
        <p>
          4-day or less delivery time, free shipping and an expedited
          delivery option.
        </p>
      </div>
    </div>
    <div class="box w-96">
      <div class="box-img"><img src="/Telephone.svg" alt="" /></div>
      <div>
        <h3>24/7 Support</h3>
        <p>
          answers to any business related inquiry 24/7 and in real-time.
        </p>
      </div>
    </div>
  </div>
</section>
