<!-- categories section -->
<section class="categories">
  <h2>Categories</h2>
  <p>Find what you are looking for</p>
  <!-- single category -->
  <div class="category-container">
    <div class="row">
      <img src="/natural-plants.svg" alt="" />
      <h3>Natural Plants</h3>
    </div>
    <div class="row">
      <img src="/plant-accessories.svg" alt="" />
      <div>
        <h3>Plant Accessories</h3>
        <p>Horem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a (click)="navigateToProduct()">Explore
          <i class="ri-arrow-right-line"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <img src="/artificial-plants.svg" alt="" />
      <h3>Artificial Plants</h3>
    </div>
  </div>
</section>
