<!-- Hero Section -->
<div class="p-16 bg-[url('https://greenmind-store.vercel.app/assets/products-hero-8a7151cf.png')] bg-no-repeat bg-cover rounded-3xl">
    <div class="w-2/5 flex flex-col items-start">
        <h1 class="font-bold text-6xl leading-tight text-[#1e1e1ebf]">Best Selling Plants</h1>
        <p class="font-medium text-2xl leading-9 text-[#1e1e1e80] mt-6 mb-8">
            We offer many different types of products with fewer variations in each category.
        </p>
        <div class="w-full relative">
            <input type="text" class="w-full h-16 bg-[#c1dcdc] rounded-xl border-none p-5 pr-24" placeholder="What are you looking for?">
            <button class="w-12 h-12 text-lg p-3 flex items-center justify-center border-none rounded-xl absolute top-1/2 right-[-14px] transform -translate-y-1/2">
                <i class="ri-search-line"></i>
            </button>
        </div>
    </div>
</div>
