<!-- Hero Section -->
<div class="m-5 p-16 bg-cover bg-no-repeat rounded-3xl"
    style="background-image: url(https://greenmind-store.vercel.app/assets/products-hero-8a7151cf.png);">
    <div class="w-2/5 flex flex-col items-start">
        <h1 class="font-bold text-6xl leading-tight text-gray-800/75">Best Selling Plants</h1>
        <p class="font-medium text-2xl leading-9 text-gray-800/50 mt-6 mb-8">We offer many different types of products
            with fewer variations in each category.</p>
        <div class="w-full relative">
            <input type="text"
                class="w-full h-16 bg-teal-100 rounded-xl border-none px-5 pr-24 text-lg focus:outline-none"
                placeholder="What are you looking for?">
            <button
                class="w-12 h-12 text-lg flex items-center justify-center bg-white shadow-md rounded-xl absolute top-1/2 right-4 transform -translate-y-1/2">
                <i class="ri-search-line"></i>
            </button>
        </div>
    </div>
</div>


<!-- Category Cards -->
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 px-36 py-10">
    <div class="flex flex-col items-center text-center p-5 bg-white rounded-xl shadow-md">
        <img src="https://greenmind-store.vercel.app/assets/artificial-plants-fe8e7864.png" alt="Artificial Plant" class="w-48 h-48 object-cover rounded-full mb-2">
        <h3 class="text-lg font-medium text-gray-800 mt-3">Artificial Plants</h3>
        <button class="mt-3 px-4 py-2 bg-teal-100 text-teal-700 font-medium rounded-lg hover:-translate-x-1 transition-transform">See More</button>
    </div>
    <div class="flex flex-col items-center text-center p-5 bg-white rounded-xl shadow-md">
        <img src="https://greenmind-store.vercel.app/assets/natural-plants-91057846.png" alt="Natural Plant" class="w-48 h-48 object-cover rounded-full mb-2">
        <h3 class="text-lg font-medium text-gray-800 mt-3">Natural Plants</h3>
        <button class="mt-3 px-4 py-2 bg-teal-100 text-teal-700 font-medium rounded-lg hover:-translate-x-1 transition-transform">See More</button>
    </div>
    <div class="flex flex-col items-center text-center p-5 bg-white rounded-xl shadow-md">
        <img src="https://greenmind-store.vercel.app/assets/cactus-fdd337a3.png" alt="Cactus" class="w-48 h-48 object-cover rounded-full mb-2">
        <h3 class="text-lg font-medium text-gray-800 mt-3">Cactus</h3>
        <button class="mt-3 px-4 py-2 bg-teal-100 text-teal-700 font-medium rounded-lg hover:-translate-x-1 transition-transform">See More</button>
    </div>
    <div class="flex flex-col items-center text-center p-5 bg-white rounded-xl shadow-md">
        <img src="https://greenmind-store.vercel.app/assets/bonsai-3467649f.png" alt="Bonsai" class="w-48 h-48 object-cover rounded-full mb-2">
        <h3 class="text-lg font-medium text-gray-800 mt-3">Bonsai</h3>
        <button class="mt-3 px-4 py-2 bg-teal-100 text-teal-700 font-medium rounded-lg hover:-translate-x-1 transition-transform">See More</button>
    </div>
</div>


<!-- Search-Container -->
<app-all-products></app-all-products>

<!-- Best Seller Section -->
<app-best-sellers></app-best-sellers>
