<!-- review section -->
<section class="review">
  <h2>What customers say about GREEMIND?</h2>
  <div class="indicator">
    <span class="arrow-icon icon1" (click)="goToSlide(activeIndex - 1)"></span>
    <span *ngFor="let slide of testimonials; let i = index"
          class="arrow-icon"
          [ngClass]="{ 'icon1': i === activeIndex }"
          (click)="goToSlide(i)">
    </span>
    <span class="arrow-icon" (click)="goToSlide(activeIndex + 1)"></span>
  </div>

  <div class="review-container">
    <div class="slider-row" [style.transform]="'translateX(-' + (activeIndex * 100) + '%)'" id="slide">
      <div *ngFor="let testimonial of testimonials; let i = index" class="slider-col">
        <div class="review-content">
          <p>{{ testimonial.content }}</p>
          <div class="review-text">
            <div class="user-info">
              <i class="ri-double-quotes-l"></i>
              <div>
                <h3>{{ testimonial.name }}</h3>
                <p>{{ testimonial.platform }}</p>
              </div>
            </div>
            <div><i class="ri-star-fill"></i> <span>{{ testimonial.rating }}</span></div>
          </div>
        </div>
        <div class="user-img">
          <img [src]="testimonial.image" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
