@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* src/styles.scss */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #c1dcdc;
    /* color-1 */
    --primary-color: #1e1e1e;
    /* color-2 */
    --secondary-color: #1e1e1ebf;
    /* color-3 */
    --text-color: #1e1e1e80;
    /* color-4 */

    --heading-text: 2rem;
    --defaut-text: 1.125rem;
}

h2 {
    color: var(--primary-color);
    font-size: var(--heading-text);
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
}

h3 {
    color: #000;
    font-size: var(--defaut-text);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
}

p {
    color: var(--text-color);
    font-size: var(--defaut-text);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}


.p-drawer {
  background: white !important;
  width: 620px !important;
  height: 100vh;
}

.p-drawer-title {
  color: #081021 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}
