<!-- banner design -->
<div class="banner bg-[#e8f8f6] rounded-xl mt-4 p-12 flex justify-between items-center">
  <!-- banner content -->
  <div class="banner-content w-1/2">
    <h1 class="text-6xl font-extrabold text-[#1e1e1e] mb-6"
    >Buy your <br> dream plants</h1>

    <div class="banner-stats flex gap-12 items-center mb-12">
      <div>
        <h6 class="text-[2xl] font-semibold text-[#0e4f48]">50+</h6>
        <p class="text-gray-600">Plant Species</p>
      </div>
      <div class="h-12 border-r border-[#0e4f48]"></div>
      <div>
        <h6 class="text-2xl font-semibold text-[#0e4f48]">100+</h6>
        <p class="text-gray-600">Customers</p>
      </div>
    </div>

    <div class="search-btn w-80 h-48 relative">
      <form>
        <input type="text" name="search" id="search" placeholder="What are you looking for?"
          class="w-full h-full rounded-full px-6 py-3 text-lg focus:outline-none" />
        <button type="submit" class="absolute top-2 right-3 rounded-[50%] bg-[#e8f8f6] px-2 py-1 text-lg text-[#0e4f48]">
          <i class="ri-search-line"></i>
        </button>
      </form>
    </div>
  </div>

  <!-- banner image -->
  <div class="banner-img w-1/2">
    <img src="/banner2.svg" alt="" class="w-full h-full object-cover" />
  </div>
</div>
