<!-- Best Selling Products -->
<section class="best-selling">
  <div class="best-selling-content">
    <h2>Best Selling Plants</h2>
    <p>Easiest way to healthy life by buying your favorite plants</p>
    <button class="btn">
      See more <i class="ri-arrow-right-line"></i>
    </button>
  </div>

  <ng-container *ngIf="products">
    <div *ngFor="let product of products" class="products">
      <img [src]="product.img" [alt]="product.name" />
      <div>
        <h5>{{ product.name }}</h5>
        <p>₱ {{ product.selling_price }}</p>
      </div>
    </div>
  </ng-container>

  @if(loader){
    <app-loader></app-loader>
  }
</section>

